doctype html
html
	head
		block title

		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui-1.10.4.custom.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		script(type='text/javascript', src='/javascripts/jquery-2.1.1.min.js')
		script(type='text/javascript', src='/javascripts/jquery-ui-1.10.4.custom.min.js')
		script(type='text/javascript', src='/javascripts/bootstrap.min.js')
		script(type='text/javascript', src='/javascripts/jquery.util.js')
		script(type='text/javascript', src='/javascripts/jquery-ui.util.js')
		script(type='text/javascript', src='/javascripts/jquery.datagrid.js')

		block head

	body
		.container
			block content



