extends ../layout.jade

block title

block head

block content
	h3=subtitle

	.row
		.table-responsive
			table#datagrid.table.table-striped
			nav#datagridpagination
		hr
		a(href='./users').btn.btn-default Add User

	script.
		$(document).ready(function(){
			var url = '/test/json';
			
			$('#datagrid').datagrid({
				'url' : url,
				'columns' : [
					{'name':'id', 'header' : 'ID', width:0},
					{'name':'name', 'header' : 'Name', width:0},
					{'name':'password', 'header' : 'Password', width:0}
				],
				'tableId': '#datagrid',
				'paginationId': '#datagridpagination',
				'useCustomHeader': false,
				'usePaging': true,
				'page': 1,
				'rows': 5,
				'pageCount': 5,
				'debug': true,
				'afterDataBind':function(){
					$('#datagrid > tbody > tr').off('click');
					$('#datagrid > tbody > tr').on('click', function(){

						var id = $(this).children('td').first().text();
						location.href = './users?id=' + id;
					});
				}
			});
			
		});